.empty-left-block{
    min-width: 50%;
}
.empty-left-block_position_relative{
    position: relative;
}
.empty-left-block__background{
    background-image: url("../assets/Base.png");
    background-repeat: no-repeat;
    height: calc(150vh - 50px);
    width: 100%;
    background-size: calc(40vw - 150px) calc(130vh - 50px);
}
.empty-left-block__background_position_absolute{
    position: absolute;
    z-index: -1;
}
.empty-left-block__background:after{
    content: "";
    width: 320px;
    height: 450px;
    background: url("../assets/Illustration-1.png") no-repeat;
    top: 85px;
    left: 138px;
    position: absolute;
    display: inline-block;
}